    <br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                  <div class="btn-group btn-breadcrumb ">
                      <a routerLink="/home" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
                      <a  class="btn btn-default">Admin</a>
                      <a routerLink="/admin/dataSourceDetails" class="btn btn-default active">Data Source</a>
              </div>
            </div>
          </div>
    </div>

<!-- Main Data Code -->
 
  <div class="container">
         <div class="col-md-8"></div>
         <div class="col-md-4">
            <div class="input-group" style="float:right">
                <!-- <input type="text" class="form-control" placeholder="Search" id="txtSearch"/> -->
                <input class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="Search" >
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                </div>
            </div>
         </div>
       </div>



<br>
<div class="container">
<div class="table-responsive" >
<table mat-table [dataSource]="dataSource" matSort class=" mat-elevation-z8 table-bordered table-striped"> 

 <ng-container matColumnDef="sourcename" >
    <th mat-header-cell  *matHeaderCellDef class="text-center" id="th_allign" >Data Source Name </th>
   <td mat-cell *matCellDef="let element">  &nbsp; {{element.sourcename}} </td>
  </ng-container>

  
  <ng-container matColumnDef="type" >
    <th mat-header-cell  *matHeaderCellDef class="text-center" id="th_allign" >Data Source Type</th>
   <td mat-cell *matCellDef="let element">  &nbsp;{{element.type}} </td>
  </ng-container> 


 <ng-container matColumnDef="hostname">
      <th mat-header-cell  *matHeaderCellDef class="text-center" id="th_allign" >Data Source Host </th>
     <td mat-cell *matCellDef="let element">  &nbsp;{{element.hostname}} </td>
    </ng-container>    



  <!-- Colum Edit/ Delete --> 
  <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="text-center" id="th_allign" >Edit / Delete  </th>
     <td mat-cell *matCellDef="let element">
       <div class="row col-md-offset-3">
          &nbsp; &nbsp;
         <div class="col-md-2">
             <a style="cursor: pointer;" [routerLink]="['/admin/editDataSource',element._id]" ><i matTooltip="Edit" class="glyphicon glyphicon-pencil" ></i></a>
         </div>
         &nbsp; 
 <div class="col-md-2">
              <a matTooltip="Delete" style="cursor: pointer;" (click)="deleteAlert(element._id)"> <i class="glyphicon glyphicon-trash"></i></a>
             <!-- <a mat-raised-button color="warn" (click)="deleteAlert(element._id)"><mat-icon>delete</mat-icon></a> -->
          </div>
      </div>
     </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

<br>  


<div class="row">
<div class="col-md-3">
<a id="button" mat-raised-button [routerLink]="['/admin/createDataSource']">Create New</a>
</div>

<div class="col-md-9">
<mat-paginator [pageSizeOptions]="[10,20,50,100,150,200,250]" showFirstLastButtons></mat-paginator>
</div>
</div>
</div>

