
<br><br><br><br><br>
<div class="container">
    <div class="row">
      <div class="col-md-3" id="height">
          <flash-messages></flash-messages>
      </div>
    </div>
</div>
<div>
        <div class="row col-lg-offset-2">
                <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                      <!-- <a routerLink="/admin/allUserList" class="btn btn-default"> -->
                              <div (click)='showActiveUsers()' data-toggle="tooltip" title="" class="well top-block" data-original-title="Active members.">
                                      <i class="glyphicon glyphicon-list-alt gi-2x"></i>
                                      <div><h4>Total Users</h4></div>
                                      <div class="badge badge-primary">{{ActiveUserCount}}</div>
                              </div>
                      <!-- </a> -->
                </div>
              
                <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                    <div (click)='showDactiveUsers()' data-toggle="tooltip" title="" class="well top-block" data-original-title="Active Server.">
                        <i class="glyphicon glyphicon-pushpin gi-2x"></i>
              
                        <div><h4>Deactive User</h4></div>
                        <div class="badge badge-primary">{{DactiveUser}}</div>
                    </div>
                </div>
              
                <div class="col-md-3 col-sm-3 col-xs-6 text-center">    
                    <div (click)='showAlertList()' data-toggle="tooltip" title="" class="well top-block" data-original-title="InActive User">
                        <i class="glyphicon glyphicon-edit gi-2x"></i>
                        <div><h4>Total Alerts</h4></div>
                        <div></div>
                        <br>
                    </div>

                </div>
                
              </div>
</div>
