
<br><br><br>
<div class="row col-lg-offset-2">
  <div class="col-md-3 col-sm-3 col-xs-6 text-center">
      <div data-toggle="tooltip" title="" class="well top-block" data-original-title="Active members.">
          <i class="glyphicon glyphicon-list-alt gi-3x"></i>

          <div><h4>Total Users</h4></div>
          <div class="badge badge-primary">20</div>
      </div>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-6 text-center">
      <div data-toggle="tooltip" title="" class="well top-block" data-original-title="Active Server.">
          <i class="glyphicon glyphicon-pushpin gi-3x"></i>

          <div><h4>Deactive User</h4></div>
          <div class="badge badge-primary">15</div>
      </div>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-6 text-center">    
      <div data-toggle="tooltip" title="" class="well top-block" data-original-title="InActive User">
          <i class="glyphicon glyphicon-edit gi-3x"></i>
          <div><h4>Total Alerts</h4></div>
          <div class="badge badge-primary">123</div>
      </div>
  </div>
  
</div>