/* Structure */
#row2{
    width: 99%;
  }
  
  table {
      width: 100%;
      transition: none !important;
      box-shadow: none !important;
      margin-top: -30px;
    }
  
    th{
      font-size: 14px;
      background-color: rgb(238, 238, 238);
    }
  
    #th_allign{
      text-align: center;
    }
  
    td {
      color: rgb(127, 127, 127);
    }
  
    .mat-form-field {
      font-size: 14px;
      width: 70%;
    }
  
    tr.mat-header-row{
      height: 37px;
    }
  
    #myalert{
      /* background-color:#044763; */
      padding-bottom: 10px;
    }
  
    #row2{
      margin-top: -50px;
      padding-top: 8px;
      padding-bottom: 10px;
    }
    .mat-header-cell {
      color: rgb(102,102,102);
    }
  
    #one{
    margin-top: 40px;
    padding-top: 8px;
    padding-bottom: 10px;
    }
  
    .btn-danger{
      background-color: rgb(231, 76, 60);
    }
  
    * {
      font-family: 'Nunito', 'Glyphicons Halflings';
    }
    
    